<%- include('header') -%>

<body>
   <a href="/">Home</a>
   <a href="work"> Work List</a>

   <div class="box" id="heading">
      <h1>
         <%= listTile %>
      </h1>
   </div>

   <div class="box">
      <% for (var i=0; i<newListItems.length; i++){ %>
         <div class="item">
            <input type="checkbox">
            <p>
               <%= newListItems[i] %>
            </p>
         </div>
         <% } %>

            <form class="item" action="/" method="post">

               <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
               <button type="submit" name="list" value=<%=listTile %> >+</button>
            </form>


   </div>

</body>

<%- include('footer') -%>